body, h1, p, ul, li {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    /* padding: 20px; */
}

.container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 50%;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 15px;
    width: 80%;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

#btn {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #3080e8;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#btn:hover {
    background-color: hsl(214, 80%, 65%) ;
}

#logo-container {
    margin-top: 20px;
    border: 1px solid rgb(216, 214, 214);
    padding: 10px;
}
.text1{
    font-size: 54px;
    margin-top: 30px;
    font-weight: 600;
    color: #0b519b;
}
.btns{
    background-color: #3080e8;
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px;
            margin-top: 20px;
            border: none;
        }
        .bg-red {
            background-color: #d64a5b !important;
        } 
        #search{
          color: #fff;
          font-size: 20px
        }
        .nav-link{
          color: #fff;
          font-size: 17px;
          font-weight: 400;
        }
        .navbar-brand{
          color: rgb(21, 21, 227);
          font-size: 30px;
          font-weight: 600;
        }
        .news{
          color: #fff;
        }
        @media (max-width:450px) {
            .text1{
                font-size: 40px;
            }
            .container {
    background: white;
    padding: 20px;
    margin: 50px auto;
    width: 80%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.container .text2{
    font-weight: 500;
    font-size: 20px;
}
        }
        .images-container{
          display: flex;
          justify-content: center;
          align-items: center;
        }
.tinotext{
    color: #0b519b;
    text-decoration: none;

}

.tinospan {
    color: #d64a5b;
}

#containerSpin{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
       border: 1px solid;
       background-color: hsl(240, 17%, 89%);
       display: flex;
       justify-content: center;
       align-items: center;
       i{
          color: white; 
       }
   }